{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.5.0"} % package  
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [cowboy, helloapp]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}]}]}]}.

{relx, [{release, { helloapp, "0.0.1"},
  [cowboy,
   helloapp,
   sasl]},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]}.
